.chair {
    display: grid;
    grid-template-columns: repeat(6, 10fr);
    gap: 10px;
    cursor: pointer;
    z-index: 3000;

}

.container {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    margin: 70px;
    top: 100px; 
}
.counterChair {
    position: absolute; 
    bottom: 97%; 
    text-align: center; 
    color: rgb(255, 105, 130);
}